h1, h2, h3 {
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header .container {
    padding: 30px;
}


main > .container {
    padding: 20px;
    background-color: #f2ecee;
}

.instruments .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
.limits {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.limits label {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.limits input {
    padding: 2.5px;
    width: 60px;
    font-size: .8em;
}

.input-block {
    margin-top: 10px;
    display: flex;
}

.input-block input[type="number"] {
    padding: 5px;
    width: 20%;
    font-size: .9em;
    margin-right: 10px;
}

.input-block button {
    padding: 5px;
    background-color: #970e3d;
    color: #fff;
    width: 10%;
    border-radius: 5px;
    font-size: .9em;
}

.answer-tables table {
    width: 100%;
}

.answer-tables table:not(:nth-of-type(3)) {
    margin-bottom: 30px;
}

.answer-tables table:nth-of-type(3) {
    width: 66.5%;
}

.answer-tables th {
    background-color: #2b8379;
    color: #fff;
    padding: 10px;
    border: 1px solid #000;
    width: 33%;
    font-weight: normal;
}

.answer-tables td {
    padding: 10px;
    border: 1px solid #000;
}