h1,
h2,
h3 {
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header .container {
    padding: 30px;
}


main > .container {
    padding: 20px;
    background-color: #f2ecee;
}

.instruments .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 40%;
}

.limits {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.limits label {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.limits input {
    padding: 2.5px;
    width: 60px;
    font-size: .8em;
}


.input-block {
    margin-top: 10px;
    display: flex;
}

.input-block input[type="number"] {
    padding: 5px;
    min-width: 50%;
    font-size: .8em;
}

.input-block button {
    padding: 5px;
    color: #fff;
    min-width: 20%;
    border-radius: 5px;
    font-size: .9em;
}

.input-block button[type="submit"] {
    background-color: #970e3d;
    margin-left: auto;
    margin-right: 10px;
}

.input-block button[type="button"] {
    background-color: gray;
}

.tooltip {
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #fff;
    display: none;
}

.tooltip button {
    margin-left: auto;
    align-self: flex-start;
    font-size: .5em;
}

.answer-tables table {
    width: 70%;
}

.answer-tables table:not(:last-of-type) {
    margin-bottom: 30px;
}

.answer-tables th {
    background-color: #2b8379;
    color: #fff;
    padding: 10px;
    border: 1px solid #000;
    width: 33%;
    font-weight: normal;
}

.answer-tables td {
    padding: 10px;
    border: 1px solid #000;
}